<% provide(:title, 'Add Space') %>
<div class="gen-section-heading"><h4>Add Your Space</h4></div>
<div class="gen-section-body">
  <%= simple_form_for @space, html: { class: "form-horizontal" } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.input :name, :input_html => { class: "span6" }, hint: "<small class='muted'>What do you call your home?</small>" %>
    <%= f.input :bedrooms, collection: bedroom_options, hint: "<small class='muted'>Number of bedrooms in your home</small>", default: "1" %>
    <%= f.input :bathrooms, collection: bathroom_options, hint: "<small class='muted'>Number of bathrooms in your home</small>", default: "1" %>
    <%= f.input :room_type, collection: room_types, label: "What do you offer?", default: room_types[0] %>
    <%= f.input :capacity, collection: 1..50, hint: "<small class='muted'>Maximum number of people your space can accomodate</small>", default: 2 %>
    <%= f.input :price, label: "Price in INR" %>
    <%= f.input :locality, label: "Locality" %>
    <%= f.input :city %>
    <%= f.input :country, priority: ["India"] %>
    <%= f.input :pincode %>
    <div class="form-actions">
    <%= f.submit "Add your space!", class: 'btn btn-custom' %>
    <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
    </div>
  <% end %>
</div>