<section id="show-space">
	<div class="gen-section-heading">
		<% if @space.user == current_user %><%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_space_path(@space), class: 'btn btn-inverse', style: 'float:right' %><%end%>
		<h4><%= @space.name %></h4>
		<small> <%= @space.room_type %> in <strong><%= @space.location %></strong></small>
	</div>
	<div class="gen-section-body">
		<div class="row-fluid">
			<div class="span9">
				<% if @space.photos.any? %>
				<div id="spacePhotosCarousel" class="carousel slide">
				 	<div class="carousel-inner">
				 			<% @space.photos.each_with_index do |photo, idx|%>
				 			<% unless photo.new_record? %>
				 			<% if idx == 0 %>
				 			<div class="item active">
				 				<%= image_tag(photo.picture.url(:gallery)) %>
				 				<div class="carousel-caption">
				 					<p><%= best_in_place(photo, :caption, path: '/spaces/'+@space.id.to_s+'/photos/'+photo.id.to_s) %></p>
				 				</div>
				 			</div>
				 			<% else %>
				 			<div class="item">
				 				<%= image_tag(photo.picture.url(:gallery)) %>
				 				<div class="carousel-caption">
				 					<p><%= photo.caption %></p>
				 				</div>
				 			</div>
				 			<% end %>
				 			<% end %>
				 			<% end %>
				 	</div>
				 	<a class="left carousel-control" href="#spacePhotosCarousel" data-slide="prev" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">&lsaquo;</a>
				 	<a class="right carousel-control" href="#spacePhotosCarousel" data-slide="next" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">&rsaquo;</a>
				</div>
				<% end %>
				<div class="row-fluid">
					<div class="span6">	
						<table class="table table-hover table-condensed table-bordered">
							<tbody>
							  <tr>
							    <td><strong>Type:</strong></td>
							    <td><%= @space.room_type %></td>
							  </tr>
							  <tr>
							    <td><strong>Bedrooms:</strong></td>
							    <td><%= @space.bedrooms %></td>
							  </tr>
							  <tr>
							    <td><strong>Bathrooms:</strong></td>
							    <td><%= @space.bathrooms %></td>
							  </tr>
							  <tr>
							    <td><strong>Capacity:</strong></td>
							    <td><%= @space.capacity %></td>
							  </tr>
							</tbody>
						</table>
					</div>
					<div class="span6">
						<table class="table table-hover table-condensed table-bordered">
							<tbody>
								<% amenities = amenities_options %>
								<% provided = @space.amenities %>
								<% for i in 0..(amenities.length-1) do %>
								<% if i%2 == 0 %>
									<tr>
										<td><strong><%= amenities[i] %></strong></td>
										<% if provided && provided.include?(amenities[i]) %>
								  			<td><i class="icon-ok-sign"></i></td>
								  		<% else %>
								  			<td><i class="icon-ban-circle"></i></td>
								  		<% end %>
								  		<td><strong><%= amenities[i+1] %></strong></td>
								  		<% if provided && provided.include?(amenities[i+1]) %>
								  			<td><i class="icon-ok-sign"></i></td>
								  		<% else %>
								  			<td><i class="icon-ban-circle"></i></td>
								  		<% end %>
									</tr>
								<% end %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<legend> Description </legend>
				<p>
			 		<%= @space.description %>
			 	</p>
			 	<% unless @space.rules.blank? %>
			 	<legend> House Rules </legend>
			 	<p>
			 		<%= @space.rules %>
			 	</p>
			 	<% end %>
			</div>
			<div class="span3">
				<section id="book-me">
					<p>Price per night:</p>
					<p>&#x20B9; <%=@space.price%></p>
					<% if @space.booking_request_from?(current_user) %>
					<% @request = @space.booking_requests.find_by_guest_id(current_user.id) %>
					<div class="alert alert-block alert-warning fade in">
					<p>Your Booking request from <%= @request.start_date.strftime("%B %d, %Y") %> to <%=@request.end_date.strftime("%B %d, %Y") %> of amount &#x20B9; <%=@request.amount%> is pending host's approval.</p>
					<p><small><%=link_to('Cancel Request', @request, data: { confirm: "Do you want to cancel your booking request?" }, method: :delete)%></small></p>
					</div>
					<% else %>
					<a data-toggle="modal" href="#requestModal" class="btn btn-warning">Book it</a>
					<% end %>
				</section>
				<section id="host-profile">
					<div class="thumbnail">
						<%= image_tag(@host.avatar.url(:medium)) %>
					  	<div class="caption">
					    <h4><%= link_to @host.first_name, @host%></h4>
					    <p><%=@host.location%></p>
					    <% unless @host.description.blank? %>
					    <small><strong>About Me:</small></strong>
					    <p><small><%= truncate @host.description, length: 250 %><%= link_to 'View full profile', @host, id:"more-about" %></small></p>
					    <% end %>
					  </div>
					</div>
				</section>
			</div>
		</div>
	</div>


	<div id="requestModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h4 id="requestModalLabel">Make a Booking request for <%=@space.name%></h4>
		</div>
		<% if current_user %>
		<%= form_for(current_user.issued_requests.build(space_id: @space.id, host_id: @host.id), class: 'form-inline') do |f| %>
		<div class="modal-body">
			<div><%= f.hidden_field :space_id %></div>
			<div><%= f.hidden_field :host_id %></div>
			<div class="input-prepend">
			  <span class="add-on"><i class="icon-calendar"></i></span>
			  <%= f.text_field :start_date, placeholder: 'Check in yyyy-mm-dd', class: 'span3', id: 'from_booking', style: "z-index: 10510" %>

			  <span class="add-on"><i class="icon-calendar"></i></span>
			  <%= f.text_field :end_date, placeholder: 'Check out yyyy-mm-dd', class: 'span3', id: 'to_booking', style: "z-index: 10510" %>
			</div>
			<br/>
			<%= f.label :guests, "Number of guests" %>
			<%= f.select :guests, options_for_select((1..15))%>
			<p class="text-info">Price: <strong>&#x20B9; <%= @space.price %></strong> per night <small>inclusive of host fee, nehosta service fee and applicable taxes.</small></p>

			<%= f.label :description, 'Description(Optional)' %>
			<%= f.text_area :description, placeholder: 'Share with your potential hosts your plans. Add description specific to your trip to Allahabad.', class: 'span6', rows: '6' %>
		</div>
		<div class="modal-footer">
			<table id="booking_amount" class="table table-condensed">
				<tr>
					<td>Number of days</td>
					<td id="days_booking">0</td>
				</tr>
				<tr>
					<td>Number of guests</td>
					<td id="guests_booking">1</td>
				</tr>
				<tr>
					<td>Total</td>
					<td id="total_amount" data-price= "<%=@space.price%>" data-type= "<%=@space.room_type%>">&#x20B9; 0</td>
				</tr>
			</table>
		  <%= f.submit "Create Booking Request", class: "btn btn-custom" %>
		  <div class="btn" data-dismiss="modal">Cancel</div>
		</div>
		<% end %>
		<% else %>
		<div class="modal-body">
			<div class="alert alert-warning fade in">
				<p>Please Log in first to book this place.</p>
			</div>
		</div>
		<div class="modal-footer">
			<div class="btn" data-dismiss="modal">Close</div>
		</div>
		<% end %>
	</div>
</section>