<% provide(:title, 'Profile') %>

<div class="row-fluid">
	<aside class="span3">
		<section id="user-profile-pic">
			<div class="thumbnail">
				<%= image_tag(@user.avatar.url) %>
				<% if current_user == @user %>
					<a href="#photoModal"  data-toggle="modal" data-placement="left" title="Change photo">
						<i class="icon-edit"></i>
					</a>

					<%= link_to(raw('<i class="icon-remove"></i>'), { action: 'delete_photo', id: @user.id }, method: :delete, data: { confirm: 'Do you want to remove this photo?', placement: 'right' }, rel: 'tooltip', title: 'Remove this photo') %>
				<% end %>
			  	<div class="caption">
			    <h4><%=@user.first_name%></h4>
			    <p><%=@user.location%></p>
			  </div>
			</div>
		</section>
	</aside>
	<div class="span9">
		<% unless @user.description.blank? %>
			<legend>About Me</legend>
			<p><%= @user.description %></p>
		<% end %>
		<% if @user.spaces.any? %>
			<legend>My listings</legend>
			<ul>
				<% @user.spaces.each do |space| %>
					<li><%= link_to space.name, space %></li>
				<% end %>
			</ul>
		<% end %>

		<% if @user==current_user %>
			<legend>Alerts</legend>
			<% if @user.description.blank? %>
				<div class="alert fade in">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				  Let people know about you. Please tell us and others more about yourself.   <%= link_to('Go!', edit_user_path(@user), class: "btn btn-warning") %>
				</div>
			<% end %>
			<% if @user.spaces.any? %>
				<% @user.spaces.each do |space| %>
					<% if space.description.blank? %>
					<div class="alert alert-error fade in">
					  <p>Please add description about '<%=space.name%>' to make it visible. <%= link_to('Go!', edit_space_path(space), class: "btn btn-danger") %></p>
					  <small>Tell your potential guests why your space is great! What is expected of them during the stay. A good description serve as an advertisement for your place.</small>
					</div>
					<% end %>
					<% if space.photos.empty? %>
					<div class="alert alert-error fade in">
					  <p>Please add photos of '<%=space.name%>' to make it visible. <%= link_to('Go!', edit_space_path(space), class: "btn btn-danger") %></p>
					  <small>Add photos that describe the space you offer. Photos are needed to display your listing in the search results.</small>
					</div>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>

	 
	<!-- Photo Modal -->
	<div id="photoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
	  <div class="modal-header">
	  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h4 id="photoModalLabel">Select an image to upload below</h4>
	  </div>
	  	<div class="modal-body">
	  		<%= simple_form_for(@user) do  |f| %>
	  			<%= f.input :avatar, label: "Photo:" %>
	  	</div>
	    <div class="modal-footer">
	      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	      <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
	    </div>
	  <% end %>
	</div>
</div>