<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="http://fonts.googleapis.com/css?family=Corben" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/assets/favico.png">
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name="description" content="Find accomodation during kumbh 2013. Enjoy local culture and hospitality. With Nehosta you can book a home in Allahabad during Kumbh 2013">
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37477244-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
	<div id="wrap">
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
			  	<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
			<%= debug(params) if false and Rails.env.development? %>
		</div>
		<div id="push"></div>
	</div>
	<%= render 'layouts/footer' %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/7QgPjIM6VMEcTWnkWNew.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
</body>
</html>
