<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name="description" content="Find accomodation during kumbh 2013. Enjoy local culture and hospitality. With Nehosta you can book a home in Allahabad during Kumbh 2013">
</head>
<body>
	<div id="wrap">
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
			  	<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
			<%= debug(params) if false and Rails.env.development? %>
		</div>
		<div id="push"></div>
	</div>
	<%= render 'layouts/footer' %>
	<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
</body>
</html>
