<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |key, value| %>
		  	<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		<br><br><br><br>
		<%= render 'layouts/footer' %>
		<%= debug(params) if false and Rails.env.development? %>
	</div>
	<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
</body>
</html>
