<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="http://fonts.googleapis.com/css?family=Corben" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/assets/favico.png">
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name="description" content="Find accommodation during kumbh 2013. Enjoy local culture and hospitality. With Nehosta you can book a home in Allahabad during Kumbh 2013">
  <meta name="keywords" content="kumbh, accommodation, Allahabad, home stay, mahakumbh, booking" />
  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37477244-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='//cdn.zopim.com/?vSt2HxSpH4EDpJIfDbS0FkvjgH7Cd0uw';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
  </script>
  <!--End of Zopim Live Chat Script-->
</head>
<body id="home_page_full">
	<div id="wrap">
		<%= render 'layouts/header' %>
		<div class="container-fluid">
			<% flash.each do |key, value| %>
			  	<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
			<%= debug(params) if false and Rails.env.development? %>
		</div>
		<div id="push"></div>
	</div>
	<%= render 'layouts/footer' %>
  <div style="background-color:#B0C4DE">
    <p style="text-align:center"><small>Photo by Jean-Marie Hullot (Own work) [<a href="http://creativecommons.org/licenses/by/3.0">CC-BY-3.0</a>], <a href="http://commons.wikimedia.org/wiki/File%3AThaiincensesunset.jpg">via Wikimedia Commons</a></small></p>
  </div>
  <%= javascript_include_tag "application" %>
  <!-- Start of Feedback uservoice -->
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/7QgPjIM6VMEcTWnkWNew.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  <!-- End of Feedback uservoice -->
</body>
</html>
