<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="http://fonts.googleapis.com/css?family=Corben" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name="description" content="Find accomodation during kumbh 2013. Enjoy local culture and hospitality. With Nehosta you can book a home in Allahabad during Kumbh 2013">
  <meta name="keywords" content="kumbh, accomodation, Allahabad, home stay, mahakumbh" />
  <!-- Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37477244-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body id="home_page_full">
	<div id="wrap">
		<%= render 'layouts/header' %>
		<div class="container-fluid">
			<% flash.each do |key, value| %>
			  	<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
			<%= debug(params) if false and Rails.env.development? %>
		</div>
		<div id="push"></div>
	</div>
	<%= render 'layouts/footer' %>
  <div style="background-color:#B0C4DE">
    <p style="text-align:center"><small>Photo by Jean-Marie Hullot (Own work) [<a href="http://creativecommons.org/licenses/by/3.0">CC-BY-3.0</a>], <a href="http://commons.wikimedia.org/wiki/File%3AThaiincensesunset.jpg">via Wikimedia Commons</a></small></p>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
